{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "standard-react",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier/standard",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "import"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "react/jsx-handler-names": "error",
    "react/jsx-fragments": "error",
    "react/no-unused-prop-types": "off",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^react?\\w"],
          // Side effect imports.
          ["^\\u0000"],
          // Packages.
          // Things that start with a letter (or digit or underscore), or `@` followed by a letter.
          ["^@?\\w"],
          ["^@material-ui/\\w"],
          // Absolute imports and other imports such as Vue-style `@/foo`.
          // Anything that does not start with a dot.
          ["^[^.]"],
          // Relative imports.
          // Anything that starts with a dot.
          ["^\\."]
        ]
      }
    ],
    "simple-import-sort/exports": "error",
    "sort-imports": "off",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "no-use-before-define": "off"
  }
}
